 body{color:#665500;
     font-family: "Times New Roman", serif;};
 .borde-oro{border: 1px solid #aaaa00;};
 .marco{margin: 5px;
            padding: 2px;};
 .fondo-gris{background-image: linear-gradient(to right, #ccccdd, white);};
