<style>
  body{color:#665500;
       font-family: "Times New Roman", serif;
       background-image:
              linear-gradient(to right, #aaaa00, white);}
  a{color:#665500;
    font-family: "Times New Roman", serif}
  .fa {color: #665500}
  .fondo-gris, li{background-image:
                      linear-gradient(to right, #ccccdd, white)}
  .borde-oro{border: 1px solid #aaaa00}
  .t-centrado{text-align: center}
  .marco, li{margin: 5px;
             padding: 2px}
  .degradado{height: 22px;
             background-color: #ffcc00;
             background-image:
                     linear-gradient(to top right, #ddbb00, white);}
</style>
